@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@import "tailwindcss";
@import "@nuxt/ui";


@theme {
  --font-sans: 'Geist', ui-sans-serif, system-ui, sans-serif;
  --color-name-blue: #809FFF;
  --color-off-white: #E3E6E8;
}

@layer  base {
    body {
        --ui-bg: #000;
    }
}

.disable-select {
    user-select: none;
}