@import "tailwindcss";
@import "@nuxt/ui";


@theme {
  --font-poppins: 'Poppins', sans-serif;
  --color-name-blue: #809FFF;
  --color-off-white: #E3E6E8;
  /* Applies to all selected text on the page */
  --color-custom-grey: #0d0f12
}

html {
  /* scrollbar-gutter: stable; */
}

@layer  base {
    body {
        --ui-bg: #000;
    }
}

::selection {
  background-color: #3a3a4b;
}
